<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Daftar Mahasiswa</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul>
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <!-- menu untuk mahasiswa -->
      <!-- <li><a href="../mahasiswa/jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="../mahasiswa/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- end menu untuk mahasiswa -->

      <!-- menu untuk dosen -->
      <!-- <li><a href="../dosen/daftar-kelas.html">Daftar Kelas</a></li>
      <li><a href="../dosen/jadwal.html">Jadwal Mengajar</a></li>
      <li><a href="../dosen/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- akhir menu dosen -->

      <!-- menu admin -->
      <li><a href="berita.html">Berita</a></li>
      <li><a href="kelas.html">Kelas</a></li>
      <li><a href="jurusan.html">Jurusan</a></li>
      <li><a href="fakultas.html">Fakultas</a></li>
      <li><a href="mahasiswa.html" class="active">Mahasiswa</a></li>
      <li><a href="dosen.html">Dosen</a></li>
      <li><a href="tentang-saya.html">Tentang Saya</a></li>
      <!-- akhir menu admin -->
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Mahasiswa</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- card untuk daftar berita -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <a href="tambah-fakultas.html" class="btn bottom">Tambah</a>
        </div>

        <table class="table">
          <tr>
            <th>No</th>
            <th>Fakultas</th>
            <th>Aksi</th>
          </tr>

          <tr>
            <td>1</td>
            <td>Teknologi Informasi</td>
            <td>
              <div class="row">
                <a href="edit-fakultas.html" class="btn bg-warning">Edit</a>
                <a href="#" class="btn bg-danger">Hapus</a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- akhir card daftar berita -->
  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>