<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Tentang Saya</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul style="width: 800px;">
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <!-- menu untuk mahasiswa -->
      <!-- <li><a href="../mahasiswa/jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="../mahasiswa/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- end menu untuk mahasiswa -->

      <!-- menu untuk dosen -->
      <!-- <li><a href="../dosen/daftar-kelas.html">Daftar Kelas</a></li>
      <li><a href="../dosen/jadwal.html">Jadwal Mengajar</a></li>
      <li><a href="../dosen/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- akhir menu dosen -->

      <!-- menu admin -->
      <li><a href="berita.html">Berita</a></li>
      <li><a href="kelas.html">Kelas</a></li>
      <li><a href="jurusan.html">Jurusan</a></li>
      <li><a href="fakultas.html">Fakultas</a></li>
      <li><a href="mahasiswa.html">Mahasiswa</a></li>
      <li><a href="dosen.html">Dosen</a></li>
      <li><a href="jadwal.html">Jadwal</a></li>
      <li><a href="matkul.html">Mata Kuliah</a></li>
      <li><a href="tentang-saya.html" class="active">Tentang Saya</a></li>
      <!-- akhir menu admin -->
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Tentang Saya</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- row start -->
    <div class="row">
      <!-- col start -->
      <div class="col">
        <!-- card for informasi pribadi -->
        <div class="card">
          <div class="card-body">

            <form method="POST" action="">
              <!-- username -->
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" value="Admin" readonly>

              <!-- password -->
              <label for="password">Password</label>
              <input type="text" name="password" id="password" class="form-control" value="admin" readonly>

              <!-- nama -->
              <label for="nama">Nama</label>
              <input type="text" name="nama" id="nama" class="form-control" value="Andika Permana SIdiq" readonly>

              <!-- alamat -->
              <label for="alamat">Alamat</label>
              <textarea name="alamat" id="alamat" class="form-control" readonly>Jepara</textarea>

              <!-- email -->
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" value="ibukartini@bsi.ac.id" readonly>

              <!-- notel -->
              <label for="notel">No Telephone</label>
              <input type="text" name="notel" id="notel" class="form-control" value="085321xxxxxx" readonly>
            </form>
            <a href="edit-data_diri.html" class="btn">Edit Data</a>
          </div>
        </div>
        <!-- end card for informasi pribadi -->
      </div>
      <!-- col end -->

      <div class="col">
        <div class="card">
          <div class="card-body">
            <a href="../../index.html" class="btn center">logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- row end -->
  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>