<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Baca Berita</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul>
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <!-- menu untuk mahasiswa -->
      <!-- <li><a href="../mahasiswa/jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="../mahasiswa/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- end menu untuk mahasiswa -->

      <!-- menu untuk dosen -->
      <li><a href="../dosen/daftar-kelas.html">Daftar Kelas</a></li>
      <li><a href="../dosen/jadwal.html">Jadwal Mengajar</a></li>
      <li><a href="../dosen/tentang-saya.html" class="active">Tentang Saya</a></li>
      <!-- akhir menu dosen -->
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Beranda</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- awal card konten-->
    <div class="card">
      <div class="card-body">
        <h3>Update Jadwal Ujian Tengah Semester (UTS)</h3>
        <p class="tgl">2020 - 05 - 24</p>

        <p class="konten">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum neque consequatur quasi
          placeat hic
          voluptatum aperiam repudiandae dolor molestias atque, amet maiores reiciendis voluptatibus commodi sit est
          saepe et eaque iure ipsam at nisi optio? Repudiandae blanditiis commodi eveniet officiis optio dolorem
          voluptatum? Tempore voluptatem debitis totam nobis provident a amet, labore qui placeat veniam? Sit et odit,
          obcaecati itaque ad nisi dolorum atque maiores perferendis consectetur mollitia velit error ipsum dolores!
          Sed, placeat consequatur. Ipsum iure quidem assumenda excepturi aperiam eum mollitia odio blanditiis
          laudantium soluta beatae explicabo maxime placeat eos ullam libero repudiandae dolores, magnam facere animi
          enim?</p>
      </div>
    </div>
    <!-- akhir card konten -->
  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>