<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Beranda</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul style="width: 800px;">
      <li><a href="beranda.html" class="active">Beranda</a></li>
      <!-- menu untuk mahasiswa -->
      <!-- <li><a href="../mahasiswa/jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="../mahasiswa/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- end menu untuk mahasiswa -->

      <!-- menu untuk dosen -->
      <!-- <li><a href="../dosen/daftar-kelas.html">Daftar Kelas</a></li>
      <li><a href="../dosen/jadwal.html">Jadwal Mengajar</a></li>
      <li><a href="../dosen/tentang-saya.html">Tentang Saya</a></li> -->
      <!-- akhir menu dosen -->

      <!-- menu admin -->
      <li><a href="../admin/berita.html">Berita</a></li>
      <li><a href="../admin/kelas.html">Kelas</a></li>
      <li><a href="../admin/jurusan.html">Jurusan</a></li>
      <li><a href="../admin/fakultas.html">Fakultas</a></li>
      <li><a href="../admin/mahasiswa.html">Mahasiswa</a></li>
      <li><a href="../admin/dosen.html">Dosen</a></li>
      <li><a href="../admin/jadwal.html">Jadwal</a></li>
      <li><a href="../admin/matkul.html">Mata Kuliah</a></li>
      <li><a href="../admin/tentang-saya.html">Tentang Saya</a></li>
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Beranda</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- awal list -->
    <div class="list">

      <div class="berita">
        <div class="card">
          <div class="card-body">
            <h3>Update Jadwal UTS</h3>
            <p>2020 - 05 - 15</p>

            <a href="baca.html" class="btn top-28">Baca</a>
          </div>
        </div>
      </div>
      <div class="berita">
        <div class="card">
          <div class="card-body">
            <h3>Update Jadwal UTS</h3>
            <p>2020 - 05 - 15</p>

            <a href="baca.html" class="btn top-28">Baca</a>
          </div>
        </div>
      </div>


    </div>
    <!-- akhir list -->
  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>