<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkapp">
  <title>Login Page</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card-logo">
        <img src="../../public/images/toga.png" alt="toga png">
      </div>

      <div class="card-body">
        <form method="POST" action="">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" placeholder="NIM">

          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="3 angka terakhir NIM">

          <input type="submit" value="Login" class="btn">
        </form>
      </div>
    </div>
  </div>


</body>

</html>