@font-face {
  font-family: "roboto";
  src: url(../font/RobotoCondensed-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', serif;
}

/* umum */

body {
  background-color: #FCF9F9;
  color: #807D7D;
}

.container {
  width: 80%;
  margin: 10px auto;
  /* border: 2px solid rgba(0, 0, 0, .5); */
}

.top {
  margin-top: 25vh;
}

.top-28 {
  margin-top: 28px;
}

.text-warning {
  color: #ECC31F;
}

a.bg-danger {
  background-color: #dc3545;
}

a.bg-warning {
  background-color: #ffc107;
}

.center {
  text-align: center;
}

.normal {
  font-weight: normal;
  font-size: 21px;
}

.btn {
  width: 100px;
  height: 40px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-color: #7379D1;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 900;
  outline: none;
  border: 0;
  color: #FFFFFF;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 3px;
  left: 5px;
  box-shadow: none;
}

nav {
  height: 60px;
  background-color: #7379D1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

nav .logo {
  text-transform: uppercase;
  font-weight: bolder;
  /* margin-left: 100px; */
}

nav ul {
  width: 500px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li:hover a {
  color: #ECC31F;
}

.menu-toggle {
  display: none;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.active {
  color: #ECC31F;
}

.active:hover {
  color: #fff;
}

input:-moz-read-only,
textarea:-moz-read-only {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
}

input:read-only,
textarea:-moz-read-only {
  background: rgba(0, 0, 0, 0.1);
  color: #666;
}

input[type=submit] {
  background-color: #7379D1;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 18px;
  font-weight: 900;
  color: #807D7D;
  margin-top: 10px;
  margin-bottom: 15px;
}

.form-control {
  width: 400px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px 15px;
  background: none;
  border: 1px solid #807D7D;
  border-radius: 5px;
  outline: none;
  color: #807D7D;
  margin-bottom: 25px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


/* style untuk landing page */
.box {
  width: 100%;
  display: flex;
  margin-top: 108px;
  justify-content: center;
}

.box .box-kiri {
  color: #807D7D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 9px;
}

.box-kiri div.normal {
  margin-left: 20%;
}

.box-kiri p span.text-warning {
  font-weight: bolder;
  text-transform: uppercase;
}

.box-kiri h3 {
  color: #ECC31F;
  font-size: 15px;
}

.box-kanan img {
  width: 450px;
  z-index: -9;
  animation: opacity 5s ease-in infinite;
  margin-left: -80px;
  -webkit-animation: opacity 5s ease-in infinite;
}

/* style for login page */
.panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}

.panel-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel-logo img {
  width: 250px;
  margin-bottom: 23px;
}

.panel-body {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* style for beranda */


.card {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 60px;
}

.card-body {
  padding: 26px 30px 23px 30px;
}

.card-body h3 {
  margin-bottom: 10px;
}

.card-body p.tgl {
  font-weight: 0;
  margin-bottom: 20px;
}

.card-body p.konten {
  text-align: justify;
  text-indent: 30px;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.berita {
  width: 300px;
}

/* style for jadwal */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table tr th {
  padding: 10px;
  background-color: #7379D1;
  color: #fff;
}

.table tr td {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.table tr td:first-child {
  text-align: center;
}

.table tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, .1);
}

.table tr:nth-child(even):hover {
  background-color: rgba(0, 0, 0, 0.048);
}

/* style for tentang-saya */
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 48%;
}

.card-body h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.card-body a.center {
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.column .card {
  margin-bottom: 10px;
}

.nilai {
  display: flex;
  justify-content: center;
}

/* style for informasi pribadi */
.card-body .form-control {
  width: 100%;
}

/* style for daftar mahasiswa */
.table tr td .row {
  flex-direction: column;
}

.table tr td .row a {
  margin: 5px auto;
}

/* animation */
@keyframes opacity {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

/* responsive breakpoint */
@media screen and (max-width: 576px) {
  .top {
    margin-top: -50px;
  }

  .top-28 {
    margin-top: 80px;
  }

  .panel {
    width: 300px;
  }

  .box {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box-kiri {
    text-align: center;
    order: 2;
  }

  .box-kiri h2 div.normal {
    margin: 0;
  }

  .box-kiri h2,
  p,
  h3,
  .btn {
    margin: 0 0 15px 0;
  }

  .box-kiri .btn {
    margin: 2px auto;
  }

  .box-kanan {
    order: 1;
    display: flex;
    justify-content: center;
  }

  .box-kanan img {
    margin: 0;
    width: 250px;
  }

  .form-control {
    width: 200px;
    height: 35px;
    box-sizing: border-box;
    padding: 5px 15px;
    margin-bottom: 25px;
  }


  nav {
    width: 100%;
    top: 0;
    align-items: center;
    position: fixed;
  }

  nav .logo {
    margin: 10px 0;
  }

  nav ul {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    align-items: center;
    flex-direction: column;
    background-color: #7379D1;
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    visibility: hidden;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #ff; */
  }

  .menu-toggle span {
    width: 28px;
    height: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
  }

  .menu-toggle span:nth-child(3) {
    width: 20px;
    margin-left: auto;
  }

  .menu-toggle input[type=checkbox] {
    position: absolute;
    width: 30px;
    height: 28px;
    border: 1px solid rgba(0, 0, 0, .3);
    opacity: 0;
    cursor: pointer;
  }

  nav ul.show {
    top: 60px;
    opacity: 1;
    visibility: visible;
  }

  .card-body {
    overflow: auto;
  }

  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  textarea.form-control {
    height: 75px;
  }
}