<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Informasi Pribadi</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul>
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <li><a href="jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="tentang-saya.html">Tentang Saya</a></li>
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Informasi Pribadi</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- card for informasi pribadi -->
    <div class="card">
      <div class="card-body">

        <form method="POST" action="">
          <!-- nim -->
          <label for="NIM">NIM</label>
          <input type="text" name="nim" id="NIM" class="form-control" value="12191872" readonly>
          <!-- end nim -->

          <!-- nama -->
          <label for="name">Nama</label>
          <input type="text" name="nama" id="name" class="form-control" value="Andika Permana Sidiq" readonly>
          <!-- end nama -->

          <!-- kelas -->
          <label for="kelas">Kelas</label>
          <input type="text" name="kelas" id="kelas" class="form-control" value="12.2C.04" readonly>
          <!-- end kelas -->

          <!-- jurusan -->
          <label for="jurusan">Jurusan</label>
          <input type="text" name="jurusan" id="jurusan" class="form-control" value="Sistem Informasi" readonly>
          <!-- end jurusan -->

          <!-- fakultas -->
          <label for="fakultas">Fakultas</label>
          <input type="text" name="fakultas" id="fakultas" class="form-control" value="Teknologi Informasi" readonly>
          <!-- end fakultas -->

          <!-- alamat -->
          <label for="alamat">Alamat</label>
          <textarea name="alamat" id="alamat" class="form-control"
            readonly>Blok Walahar I, Kp. Sukahayu RT/RW 09/04, Desa Bantarwaru, Kecamatan Gantar, Kabupaten Indramayu</textarea>
          <!-- alamat -->

          <!-- email -->
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" value="dikaps@gmail.com" readonly>
          <!-- end email -->

          <!-- no telephone -->
          <label for="nomor">No Telephone</label>
          <input type="text" name="notel" id="nomor" class=" form-control" value="085321xxxxxx" readonly>
          <!-- end no telephone -->
        </form>
        <a href="edit-data_diri.html" class="btn">Edit Data</a>
      </div>
    </div>
    <!-- end card for informasi pribadi -->


  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>