<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Jadwal Kuliah</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul>
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <li><a href="jadwal.html" class="active">Jadwal Kuliah</a></li>
      <li><a href="tentang-saya.html">Tentang Saya</a></li>
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Jadwal Kuliah</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- card for table -->
    <div class="card">
      <div class="card-body">
        <!-- awal tabel -->
        <table class="table">
          <tr>
            <th>No</th>
            <th>Hari</th>
            <th>Mata Kuliah</th>
            <th>Jam</th>
            <th>Ruangan</th>
            <th>Dosen</th>
          </tr>

          <tr>
            <td>1</td>
            <td>Senin</td>
            <td>Metode Perancang Program</td>
            <td>11.40-14.10</td>
            <td>R-305</td>
            <td>Ibu Kita Kartini</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Senin</td>
            <td>Aplikasi Basis Data</td>
            <td>14.10-16.10</td>
            <td>R-305</td>
            <td>Ibu Kita Kartini</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Selasa</td>
            <td>Struktur Data</td>
            <td>11.40-14.10</td>
            <td>R-305</td>
            <td>Ibu Kita Kartini</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Selasa</td>
            <td>Bahasa Inggris</td>
            <td>15.00-16.10</td>
            <td>R-305</td>
            <td>Ibu Kita Kartini</td>
          </tr>
        </table>
        <!-- akhir tabel -->
      </div>
    </div>
    <!-- end card for table -->


  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>