<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dIkaps">
  <title>Nilai UAS</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <!-- awal navbar -->
  <nav>
    <h3 class="logo">ubsi</h3>

    <ul>
      <li><a href="../umum/beranda.html">Beranda</a></li>
      <li><a href="jadwal.html">Jadwal Kuliah</a></li>
      <li><a href="tentang-saya.html">Tentang Saya</a></li>
    </ul>

    <div class="menu-toggle">
      <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <!-- akhir navbar -->

  <!-- awal container -->
  <div class="container top-28">
    <!-- awal card -->
    <div class="card">
      <div class="card-body">
        <h3>Universitas Bina Sarana Informatika</h3>
        <p>Nilai UAS</p>
      </div>
    </div>
    <!-- akhir card -->

    <!-- card for nilai uts -->
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>No</th>
            <th>Mata Kuliah</th>
            <th>Nilai</th>
            <th>Grade</th>
            <th>Keterangan</th>
          </tr>

          <tr>
            <td>1</td>
            <td>Metode Perancang Program</td>
            <td>80.5</td>
            <td class="center">A</td>
            <td class="center">LULUS</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Aplikasi Basis Data</td>
            <td>80.5</td>
            <td class="center">A</td>
            <td class="center">LULUS</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Struktur Data</td>
            <td>80.5</td>
            <td class="center">A</td>
            <td class="center">LULUS</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Bahasa Inggris</td>
            <td>80.5</td>
            <td class="center">A</td>
            <td class="center">LULUS</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- end card for nilai uts -->


  </div>
  <!-- akhir container -->

  <script src="../../public/js/script.js"></script>
</body>

</html>